/* src/styles.css */

body {
  margin: 0;
  font-family: sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 80%;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.project-content.show {
  opacity: 1;
  transform: translateY(0);
}

.project-content.reverse {
  direction: rtl;
}

.media video {
  width: 100%;
  border-radius: 12px;
}